<!-- Header -->
<div id="header" class="fixed top-0 left-1/2 transform -translate-x-1/2 z-50 py-4 px-4 sm:px-6 lg:px-8 transition-all duration-100 ease-in-out">
  <div id="capsule" class="flex justify-between items-center bg-gradient-to-r from-indigo-500/50 via-purple-600/50 to-pink-500/50 rounded-full py-4 px-6 shadow-2xl backdrop-blur-md transition-all duration-500">
    <!-- Site Brand Name -->
    <div class="flex items-center">
      <span class="text-2xl font-bold mr-8 text-white">{{ @site.title }}</span>
    </div>

    <!-- Desktop Navigation and Search -->
    <div class="hidden md:flex items-center space-x-6">
      <!-- Navigation Menu -->
      <nav aria-label="site navigation">
        <ul class="flex space-x-6">
        {{ navigation }}
        </ul>
      </nav>

      <!-- Search Button -->
      <button class="gh-search color-text" data-ghost-search aria-label="Search">
        {{> icons/search }}
      </button>
    </div>

    <!-- Mobile Search and Menu Button -->
    <div class="flex items-center space-x-4 md:hidden">
      <!-- Search Button -->
      <button class="gh-search color-text" data-ghost-search aria-label="Search">
        {{> icons/search }}
      </button>
      <!-- Mobile Menu Button -->
      <button id="menu-button" class="focus:outline-none tool-button" aria-label="Toggle navigation">
        <!-- Hamburger/Cross Icon -->
        <div class="hamburger">
          <span class="hamburger-line"></span>
          <span class="hamburger-line"></span>
          <span class="hamburger-line"></span>
        </div>
      </button>
    </div>
  </div>

  <!-- Mobile Menu -->
  <div id="mobile-menu" class="max-h-0 overflow-hidden rounded-b-[30px] transition-all duration-500 ease-in-out">
    <nav aria-label="mobile navigation" class="bg-gradient-to-r from-indigo-500/50 via-purple-600/50 to-pink-500/50 shadow-2xl backdrop-blur-md">
      <ul class="flex flex-col items-center space-y-4 py-4">
        {{ navigation }}
      </ul>
    </nav>
  </div>
</div>
