@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.kg-width-wide {
}

.kg-width-full {
}

.card:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
}

#header {
  width: 100%;
  transition: width 0.5s ease-in-out;
}

#header.scrolled {
}

.tool-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  padding: 0;
  border: 0;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

/* Hamburger Menu Icon */
.hamburger {
  display: inline-block;
  cursor: pointer;
  width: 24px;
  height: 18px;
  position: relative;
}

.hamburger-line {
  display: block;
  background-color: white;
  height: 2px;
  width: 100%;
  border-radius: 1px;
  position: absolute;
  left: 0;
  transition: all 0.3s ease-in-out;
}

.hamburger-line:nth-child(1) {
  top: 0;
}

.hamburger-line:nth-child(2) {
  top: 8px;
}

.hamburger-line:nth-child(3) {
  top: 16px;
}

/* Active state */
.hamburger.active .hamburger-line:nth-child(1) {
  transform: rotate(45deg);
  top: 8px;
}

.hamburger.active .hamburger-line:nth-child(2) {
  opacity: 0;
}

.hamburger.active .hamburger-line:nth-child(3) {
  transform: rotate(-45deg);
  top: 8px;
}

/* Mobile Menu Animation */
#mobile-menu.open {
  max-height: 500px; /* Adjust based on the content height */
}

/* Back to Top Button Styles */
#back-to-top {
  background: linear-gradient(
    to right,
    rgba(99, 102, 241, 0.5),
    rgba(139, 92, 246, 0.5),
    rgba(236, 72, 153, 0.5)
  );
  backdrop-filter: blur(10px);
  color: white;
  transition:
    opacity 0.3s ease-in-out,
    visibility 0.3s ease-in-out;
}

#back-to-top:hover {
  background: linear-gradient(
    to right,
    rgba(99, 102, 241, 0.7),
    rgba(139, 92, 246, 0.7),
    rgba(236, 72, 153, 0.7)
  );
}

#back-to-top.show {
  opacity: 1;
  visibility: visible;
}

#back-to-top.hide {
  opacity: 0;
  visibility: hidden;
}

/* Logo Container */
.logo-container {
  height: 2rem; /* Equivalent to h-8 in Tailwind CSS */
  width: 8rem; /* Fixed width to prevent layout shifts */
  margin-right: 2rem; /* Equivalent to mr-8 */
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Logo Image */
.logo-container img {
  max-height: 100%;
  max-width: 100%;
}

/* Site Title Text */
.logo-container span {
  display: block;
  text-align: center;
}
